   <!-- services -->
<div class="serives-agile py-5" id="services">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="tittle mb-sm-5 mb-4 text-bl text-center font-weight-bold">Our Services</h3>
    <div class="row welcome-bottom text-center pt-xl-4">
      <div class="col-md-4 welcome-grid">
        <i class="fa fa-paw"></i>
        <h4>Dog Walks</h4>
        <p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
      </div>
      <div class="col-md-4 welcome-grid my-md-0 my-sm-5 my-4">
        <i class="fa fa-heart"></i>
        <h4>Puppy Care</h4>
        <p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
      </div>
      <div class="col-md-4 welcome-grid">
        <i class="fa fa-thumbs-up"></i>
        <h4>Training</h4>
        <p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
      </div>
    </div>
  </div>
</div>
<!-- services -->
