    <!-- team -->
<div class="team py-5 text-center" id="trainers">
  <div class="container pb-xl-5 pb-lg-3">
    <h3 class="tittle mb-sm-5 mb-4 text-bl text-center font-weight-bold">Paseadores</h3>
    <div class="row team-bottom pt-xl-4">
      <div class="col-lg-3 col-sm-6 team-grid">
        <img src="assets/images/t1.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Mack Joe</h4>
            <h4>Dureccion casa</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-grid mt-sm-0 mt-5">
        <img src="assets/images/t3.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Cruz Deo</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-grid mt-lg-0 mt-5">
        <img src="assets/images/t2.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Rochy Jae</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-grid  mt-lg-0 mt-5">
        <img src="assets/images/t4.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Rojo Poy</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row team-bottom mt-5 pt-lg-4">
      <div class="col-lg-3 col-sm-6 team-grid">
        <img src="assets/images/t5.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Cruz Deo</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-grid mt-sm-0 mt-5">
        <img src="assets/images/t6.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Mack Joe</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-grid mt-lg-0 mt-5">
        <img src="assets/images/t7.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Rojo Poy</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-grid  mt-lg-0 mt-5">
        <img src="assets/images/t8.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Rochy Jae</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //team -->
