 <!-- news -->
<div class="news py-5" id="news">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="tittle mb-sm-5 mb-4 text-bl text-center font-weight-bold">Ultimas Noticias</h3>
    <div class="row news-grids pt-xl-4">
      <div class="col-lg-5 text-lg-left text-center">
        <img src="assets/images/blog1.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-7 news-wthreegrid mt-lg-0 mt-5">
        <div class="news-grid-left">
          <h6>March 7th 2018</h6>
          <a href="#" class="text-news-st">Adipiscing elit sed do eiusmod tempor</a>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde doloremque laudantium.</p>
          <a href="#" class="news-button btn">Read More</a>
        </div>
        <div class="news-grid-left mt-xl-5 mt-lg-4 mt-5">
          <h6>March 12th 2018</h6>
          <a href="#" class="text-news-st">Minima veniam, quis nostrum ullam</a>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde doloremque laudantium.</p>
          <div class="news-button">
            <a href="#" class="news-button btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //news -->
