<!-- footer -->
<div class="footer-w3ls py-4">
  <div class="container py-xl-5 py-lg-3">
    <div class="agileits_w3layouts_logo logo2">
      <h2>
        <a href="index.html">{{ nameProject }}</a>
      </h2>
      <div class="w3social-icons">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-dribbble"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row agileits_w3layouts_footer_grids">
      <div class="col-lg-4 agileits_w3layouts_footer_grid">
        <h3>Call Us</h3>
        <ul>
          <li>
            <span>Office Phone sereaa:</span> (+123) 2302 232
          </li>
          <li>
            <span>Fax :</span> (+123) 123 456 455
          </li>
        </ul>
      </div>
      <div class="col-lg-4 agileits_w3layouts_footer_grid my-lg-0 my-5">
        <h3>Visit Us</h3>
        <p>
          132 New Lenox, 868 1st Avenue
          <i>4th Street NYC.</i>
        </p>
      </div>
      <div class="col-lg-4 agileits_w3layouts_footer_grid">
        <h3>Write Us</h3>
        <ul>
          <li>
            <span>Email :</span>
            <a href="mailto:info@example.com">info@example1.com</a>
          </li>
          <li>
            <span>Enquiry :</span>
            <a href="mailto:info@enquiry.com">info@enquiry.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- //footer -->
<!-- copyright -->
<div class="wthree_copy_right">
  <div class="container">
    <p>
      © {{ currentYear }} {{ nameProject }}. All rights reserved | Design by
      <a href="http://w3layouts.com/">W3layouts</a>
    </p>
  </div>
</div>
<!-- //copyright -->
<!-- //footer -->
<!-- move top icon -->
<a [routerLink]="['/about']" class="move-top text-center"></a>
<!-- //move top icon -->
