<!-- gallery -->
<div class="gallery py-5" id="gallery">
  <div class="container pb-xl-5 pb-lg-3">
    <h3 class="tittle mb-sm-5 mb-4 text-bl text-center font-weight-bold">Dog Breeds</h3>
    <div class="news-grids pb-lg-5 text-center">
      <div class="row">
        <div class="col-md-4 gal-img">
          <a href="#gal1" title="Pomeranian"><img src="assets/images/g1.jpg" alt="gallery" class="img-fluid"></a>
        </div>
        <div class="col-md-4 gal-img my-md-0 my-4">
          <a href="#gal2" title="Rottweiler"><img src="assets/images/g2.jpg" alt="gallery" class="img-fluid"></a>
        </div>
        <div class="col-md-4 gal-img">
          <a href="#gal3" title="Maltese dog"><img src="assets/images/g3.jpg" alt="gallery" class="img-fluid"></a>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-4 gal-img">
          <a href="#gal4" title="Poodle"><img src="assets/images/g4.jpg" alt="gallery" class="img-fluid"></a>
        </div>
        <div class="col-md-4 gal-img my-md-0 my-4">
          <a href="#gal5" title="Retriever"><img src="assets/images/g5.jpg" alt="gallery" class="img-fluid"></a>
        </div>
        <div class="col-md-4 gal-img">
          <a href="#gal6" title="Chihuahua"><img src="assets/images/g6.jpg" alt="gallery" class="img-fluid"></a>
        </div>
      </div>
      <div class="row my-md-0 my-4">
        <div class="col-md-4 gal-img">
          <a href="#gal7" title="Dachshund"><img src="assets/images/g7.jpg" alt="gallery" class="img-fluid"></a>
        </div>
        <div class="col-md-4 gal-img my-md-0 my-4">
          <a href="#gal8" title="Beagle"><img src="assets/images/g8.jpg" alt="gallery" class="img-fluid"></a>
        </div>
        <div class="col-md-4 gal-img">
          <a href="#gal9" title="Bulldog"><img src="assets/images/g9.jpg" alt="gallery" class="img-fluid"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- popup-->
<div id="gal1" class="popup-effect animate">
  <div class="popup">
    <img src="assets/images/g1.jpg" alt="Popup Image" class="img-fluid" />
    <h5 class="text-name-pop mt-4">Pomeranian</h5>
    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
    <a class="close" href="#gallery">&times;</a>
  </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal2" class="popup-effect animate">
  <div class="popup">
    <img src="assets/images/g2.jpg" alt="Popup Image" class="img-fluid" />
    <h5 class="text-name-pop mt-4">Rottweiler</h5>
    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
    <a class="close" href="#gallery">&times;</a>
  </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal3" class="popup-effect animate">
  <div class="popup">
    <img src="assets/images/g3.jpg" alt="Popup Image" class="img-fluid" />
    <h5 class="text-name-pop mt-4">Maltese dog</h5>
    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
    <a class="close" href="#gallery">&times;</a>
  </div>
</div>
<!-- //popup3 -->
<!-- popup-->
<div id="gal4" class="popup-effect animate">
  <div class="popup">
    <img src="assets/images/g4.jpg" alt="Popup Image" class="img-fluid" />
    <h5 class="text-name-pop mt-4">Poodle</h5>
    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
    <a class="close" href="#gallery">&times;</a>
  </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal5" class="popup-effect animate">
  <div class="popup">
    <img src="assets/images/g5.jpg" alt="Popup Image" class="img-fluid" />
    <h5 class="text-name-pop mt-4">Retriever</h5>
    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
    <a class="close" href="#gallery">&times;</a>
  </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal6" class="popup-effect animate">
  <div class="popup">
    <img src="assets/images/g6.jpg" alt="Popup Image" class="img-fluid" />
    <h5 class="text-name-pop mt-4">Chihuahua</h5>
    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
    <a class="close" href="#gallery">&times;</a>
  </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal7" class="popup-effect animate">
  <div class="popup">
    <img src="assets/images/g7.jpg" alt="Popup Image" class="img-fluid" />
    <h5 class="text-name-pop mt-4">Dachshund</h5>
    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
    <a class="close" href="#gallery">&times;</a>
  </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal8" class="popup-effect animate">
  <div class="popup">
    <img src="assets/images/g8.jpg" alt="Popup Image" class="img-fluid" />
    <h5 class="text-name-pop mt-4">Beagle</h5>
    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
    <a class="close" href="#gallery">&times;</a>
  </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal9" class="popup-effect animate">
  <div class="popup">
    <img src="assets/images/g9.jpg" alt="Popup Image" class="img-fluid" />
    <h5 class="text-name-pop mt-4">Bulldog</h5>
    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
    <a class="close" href="#gallery">&times;</a>
  </div>
</div>
<!-- //popup -->
<!-- //gallery -->
