 <!-- banner -->
<div class="banner_w3lspvt">
  <div class="csslider infinity" id="slider1">
    <input type="radio" name="slides" checked="checked" id="slides_1" />
    <input type="radio" name="slides" id="slides_2" />
    <input type="radio" name="slides" id="slides_3" />
    <input type="radio" name="slides" id="slides_4" />
    <ul class="banner_slide_bg">
      <li>
        <div class="container-fluid">
          <div class="w3ls_banner_txt">
            <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">No Compres Uno De Raza, Adopta Uno Sin Casa</h3>
            <p>Estamos trabajando por su futuro.</p>
            <a [routerLink]="['/welcome']"  style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Leer Mas</a>
          </div>
        </div>
      </li>
      <li>
        <div class="container-fluid">
          <div class="w3ls_banner_txt">
            <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">We Style Your best dog</h3>
            <p>We always try to Provide your dog the best services.</p>
            <a [routerLink]="['/welcome']"  style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>
          </div>
        </div>
      </li>
      <li>
        <div class="container-fluid">
          <div class="w3ls_banner_txt">
            <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">Excellent Dog Training </h3>
            <p>We always try to Provide your dog the best services.</p>
            <a [routerLink]="['/welcome']" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="arrows">
      <label for="slides_1"></label>
      <label for="slides_2"></label>
      <label for="slides_3"></label>
    </div>
  </div>
</div>
<!-- //banner -->
